@model ModelLayer.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditedCustomer" enctype="multipart/form-data" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <strong><label asp-for="CustomerId" class="control-label"></label></strong><br />
                @Html.HiddenFor(model => model.CustomerId)
                @Html.DisplayFor(model => model.CustomerId)
                @*
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <strong><label asp-for="Uname" class="control-label"></label></strong><br />
                @Html.HiddenFor(model => model.Uname)
                @Html.DisplayFor(model => model.Uname)
                @*
                <input asp-for="Uname" class="form-control" />
                <span asp-validation-for="Uname" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <strong><label asp-for="Fname" class="control-label"></label></strong>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Lname" class="control-label"></label></strong>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="IformFileImage" class="control-label"></label></strong>
                <input asp-for="IformFileImage" type="file" id="file" class="form-control" />
                <span asp-validation-for="IformFileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <img class="img-responsive" src="@Model.JpgString" alt="No Image Found" style="height:100px" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
